{% load staticfiles %}
{% load nav_active %}
<!doctype html>
<html lang='fr'>

<head>
    <meta charset="utf-8">
    <title>Euro 2016</title>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'euro/images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'euro/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'euro/vendor/bootstrap-theme.min.css' %}">
    <link rel='stylesheet prefetch' href="{% static 'euro/vendor/font-awesome.min.css' %}">
    

    <script src="{% static 'euro/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'euro/vendor/bootstrap.min.js' %}"></script>

    <link rel='stylesheet prefetch' href="{% static 'euro/vendor/jquery.dynatable.css' %}">
    <script src="{% static 'euro/vendor/jquery.dynatable.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'euro/style.css' %}" />
    <script src="{% static 'euro/loginform.js' %}" type="text/javascript"></script>

    <script src="{% static 'euro/vendor/jquery.cropit.js' %}"></script>
    
    
    <script type="text/javascript">
        // Definition of global variables for javascript context
        var contact_url = "{% url 'euro:check_login' %}";
        var save_url = "{% url 'euro:save' %}";
    </script>
    

</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'euro:landing' %}"><img src="{% static 'euro/images/logo.jpg' %}" alt="Euro 2016" height="32" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{% active request 'euro:home' %}"><a href="{% if username %}{% url 'euro:home' %}{% else %}{% url 'euro:nexts' %}{% endif %}">Accueil</a></li>
                <li class="{% active request 'euro:nexts' %}"><a href="{% url 'euro:nexts' %}">Par date</a></li>
                <li class="{% active request 'euro:index' %}"><a href="{% url 'euro:index' %}">Par poules</a></li>
                <li class="{% active request 'euro:classement' %}"><a href="{% url 'euro:classement' %}">Classement</a></li>
                <li class="{% active request 'euro:teams' %}"><a href="{% url 'euro:teams' %}">Equipes</a></li>
                <li class="{% active request 'euro:faq' %}"><a href="{% url 'euro:faq' %}">FAQ</a></li>
                <li class="{% active request 'euro:aboutus' %}"><a href="{% url 'euro:aboutus' %}">A propos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome, {{username|capfirst}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#renewPswdDialog"><i class="fa fa-key" aria-hidden="true"> Change password </i></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"> Change email</i></a></li> 
                    </ul>
                </li>
                
                <li>
                    <a href="{% url 'euro:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sortir</a>
                </li>
                {% else %}
                <li><a href="#" data-toggle="modal" data-target="#myModalRegister"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModalLogin"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    
    
    
    
    <!-- This wraps the whole cropper -->
    <div id="upload_avatar" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Drop file or open</h4>
                </div>
                <div class="modal-body">
    <form action="{% url 'euro:upload' %}" method="post" enctype="multipart/form_data" id="upload">
        {% csrf_token %}
      <div class="image-editor">
       
        <div class="cropit-preview block"></div>
        <input type="file" class="cropit-image-input" style="margin:10px;">
        <div class="image-size-label">
          Move and Resize image
        </div>
        <input type="range" class="cropit-image-zoom-input">
        <input type="hidden" name="image-data" class="hidden-image-data" type="file"/>
        <button type="submit" class="log-btn">Upload</button>
      </div>
    </form>
    
     <script>
      $(function() {
        $('.image-editor').cropit();
        $('.image-editor').cropit('imageSrc', '{% static "euro/images/256.jpg" %}');
        $('#image-cropper').cropit({ imageBackground: true });
        $('#upload').submit(function(e) {
          // Move cropped image data to hidden input
          var imageData = $('.image-editor').cropit('export');
          $('.hidden-image-data').val(imageData);
          // Print HTTP request params
          var formValue = $(this).serialize();
          
          var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
            var formData = new FormData($("#edit_user_image")[0]);
            var formData = new FormData(); 
            formData.append("image-data", imageData);
            formData.append("csrfmiddlewaretoken", csrftoken);
  
            
          // Prevent the form from actually submitting
            $.post({
			   data: formValue,
			   url: '{% url 'euro:upload' %}',
			   success: function(data){
			   location.reload();
			  }})
            
            
          return false;
        });
      });
    </script>
                </div></div></div></div>

    
    
<div id="renewPswdDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{user.username}}</h4>
                </div>
                <div class="modal-body">
                    <form id="renewPswdDialogForm">
                        {% csrf_token %}
                        <div class="login-form">
                            {% if username == None %}
                            {% else %}
                            <label>Current password:</label>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="npassword0" name="password0" required aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            {% endif %}
                            <label>New password:</label>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="npassword" name="password" required aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            <label>Repeat:</label>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="npassword2" name="password2" required aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            
                            <button type="submit" class="reset-btn" id="resetpassword-btn">
                            &nbsp; OK </button>


                        </div>
                    </form>
                </div>
                
                <script>         
                    $( "#renewPswdDialog" ).submit(function( e ) {
                        console.log("reset password")
                        
                        var x0 = {% if username == None %}''{% else %}document.forms["renewPswdDialogForm"]["npassword0"].value{% endif %};
                        var x = document.forms["renewPswdDialogForm"]["npassword"].value;
                        var x2 = document.forms["renewPswdDialogForm"]["npassword2"].value;
                        e.preventDefault(); 
                        if (x == null || x == "" || x != x2) {
                            $('.log-status').addClass('wrong-entry');
                            $('.log-btn').addClass('wrong-entry');
                            
                            setTimeout("$('.alert').fadeOut(1500);", 3000);
                            return false;
                        }
                        
                        

                        var values = {};
                        values['csrfmiddlewaretoken']=$('input[name=csrfmiddlewaretoken]').val()
                        values['token'] = "{{token}}"
                        values['password'] = x
                        values['password0'] = x0
                    
                        $.post("{% url 'euro:changeResestPassword' %}", values, 
                               
                               function (data, textStatus, jqXHR) {
                                    if (!data['success']) {
                                        alert(data['error']);
                                    }
                            {% if username == None %}
                                window.location.href = './home';
                            {% else %}
                                location.reload();    
                            {% endif %}
                                }
                           , 'json').error(formSave.error); // making ajax post
                    return false;
                    });

                </script>
                
            </div>

        </div>
    </div>
    
    
    
    
    
    
    
    
    {% if username == None %}
    <div id="forgotPswdDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reset password</h4>
                </div>
                <div class="modal-body">
                    <form id="forgotPswdDialogForm">
                        {% csrf_token %}
                        <div class="login-form">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Username " id="resetusername" name="username" aria-hidden="true"/>
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Email " id="resetemail" name="email" required aria-hidden="true"/>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            
                            <button type="submit" class="reset-btn" id="resetpassword-btn">
                            <i class="fa fa-share" aria-hidden="true" id='resetico'></i>
                            &nbsp; Reset Password </button>


                        </div>
                    </form>
                </div>
                
                <script>
                                    
                    $( "#forgotPswdDialogForm" ).submit(function( e ) {
                        console.log("reset password")
                        
        e.preventDefault();

        var values = {};
        values['csrfmiddlewaretoken']=$('input[name=csrfmiddlewaretoken]').val()
        values['username'] = $('#resetusername').val()
        values['email'] = $('#resetemail').val()
        $('#resetpassword-btn').prop( "disabled", true )
        $('#resetico').toggleClass('fa-share fa-circle-o-notch');
        $('#resetico').addClass('fa-spin');
                        
        console.log(values)
        $.post("{% url 'euro:reset' %}", values, 
               function (data, textStatus, jqXHR) {
                $("#forgotPswdDialog").modal('hide')
                $("#mail-sent").modal('toggle')
                }
               , 'json').error(formSave.error); // making ajax post
                        return false;
        });

                </script>
                
            </div>

        </div>
    </div>
    
    
    
        
<div id="mail-sent" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-envelope" aria-hidden="true"></i> Email sent</h4>
            </div>
            <div class="modal-body">
                <form id="ok-mail">
                    {% csrf_token %}
                    <div class="login-form">
                        <div class="form-group">

                            <h3>Please check your emails <h3>
                               
                            </div>
                             
                        </div>
                        <!--a class="link" href="#">Lost your password?</a-->
                        <button type="submit" class="log-btn" id="mail_sent" style="margin-top: 20px;">OK <i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>
                    

                </form>
                <script>
                                    
                    $( "#ok-mail" ).submit(function( e ) {
                        $("#mail-sent").modal('hide')
                    });

                </script>
            </div>
            </div>
        </div>
    </div>
    
    {% endif %}
    
    {% if username == None %}
    <div id="myModalLogin" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form id="login">
                        {% csrf_token %}
                        <div class="login-form">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Username " id="username" name="username" aria-hidden="true"/>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            <a href="#" id="forgotbtn">Forgot your password ?</a>
                            <script>
                             $(function() {
    $("#forgotbtn").click(function(e) {
      e.preventDefault(); 
        $("#myModalLogin").modal('hide')
        $("#forgotPswdDialog").modal('toggle')
    });
  });
                            </script>
                            <!--a class="link" href="#">Lost your password?</a-->
                            <button type="submit" class="log-btn" id="log-btn">Log in</button>


                        </div>
                    </form>
                </div>
                <!--div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div-->
            </div>

        </div>
    </div>

    <div id="myModalRegister" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign-in</h4>
                </div>
                <div class="modal-body">
                    <form id="register" action="{% url 'euro:register' %}" method="post" onsubmit="return validateRegister()">
                        {% csrf_token %}
                        <div class="login-form">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Username " id="username" name="username" required aria-hidden="true"/>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Email " id="email" name="email" required aria-hidden="true"/>
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" required aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            <label>Repeat:</label>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password2" name="password2" required aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            <!--a class="link" href="#">Lost your password?</a-->
                            <button type="submit" class="log-btn" id="register-btn">Register</button>


                        </div>
                    </form>
                </div>
                <!--div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div-->
            </div>

        </div>
    </div>
    {% endif %}

    
{% if user.team %}{%if self == user %}
    
<div id="team_leave" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-chain-broken" aria-hidden="true"></i> Leave team</h4>
            </div>
            <div class="modal-body">
                <form id="leave_team">
                    {% csrf_token %}
                    <div class="login-form">
                        <div class="form-group">

                            <h3>You will leave: <h3>
                            <h2>{{user.team.name}}</h2>
                                                
                            </div>
                             
                        </div>
                        <!--a class="link" href="#">Lost your password?</a-->
                        <button type="submit" class="log-btn" id="saveChange_team" style="margin-top: 20px;">Leave <i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>
                        <button type="submit" data-dismiss="modal" class="log-btn wrong-entry" style="margin-top: 20px;">Cancel <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

                </form>
                <script>
                                    
                    $( "#leave_team" ).submit(function( e ) {
                        console.log("save")
                        
        e.preventDefault();

        var values = {};
        values['csrfmiddlewaretoken']=$('input[name=csrfmiddlewaretoken]').val()
        values['id_team'] = 'None'
        console.log(values)
        $.post("{% url 'euro:change_team' %}", values, formSave.success, 'json').error(formSave.error); // making ajax post
        });

                </script>
            </div>
            </div>
        </div>
    </div>
{% endif %}
{% else %}{%if self == user %}


<div id="team_choose" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-link" aria-hidden="true"></i> Select a team</h4>
            </div>
            <div class="modal-body">
                <form id="change_team">
                    {% csrf_token %}
                    <div class="login-form">
                        <div class="form-group">

                            <label for="tags">Select an existing: </label>
                            <div class="selectContainer">
                             <select id="id_team" name="team" class="form-control">
                                 <option style="padding:10px;" value="None">None</option>
                                 {% for member in allTeams.all %}                                    
                                    <option style="padding:10px;" value="{{member.id}}" >{{member}}</option>
                                 {% endfor %}
                             </select>
                            </div>
                            
                             <label style="margin-top: 20px;">Or create a new one :</label>
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="New team" id="group_name" name="group_name" />
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!--a class="link" href="#">Lost your password?</a-->
                        <button type="submit" class="log-btn" id="saveChange_team" style="margin-top: 20px;">Join <i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>


                    </div>
                </form>
                <script>
                    $('#group_name').change(function(e) {
                        $('#id_team').val("None");
                    })
                    $('#group_name').keypress(function(e) {
                        $('#id_team').val("None");
                    })
                    $('#id_team').change(function(e) {
                        if ($('#id_team').val() != "None") {
                            $('#group_name').val("New team")
                        }
                    })
                    
                    $( "#change_team" ).submit(function( e ) {
                        console.log("save")
                        
        e.preventDefault();

        var values = {};
        values['csrfmiddlewaretoken']=$('input[name=csrfmiddlewaretoken]').val()
        values['id_team'] = $('#id_team').val()
        values['new_team'] = $('#group_name').val()
        console.log(values)
        $.post("{% url 'euro:change_team' %}", values, formSave.success, 'json').error(formSave.error); // making ajax post
    });

                </script>
            </div>
            </div>
        </div>
    </div>

{% endif %}{% endif %}    

    
    
    <div class="main">

        {% block form %}
        <form id="saveP">
            {% csrf_token %}
    
        {% block content %} {% endblock %}
    

    <nav class="navbar navbar-fixed-bottom popup">
        <div class="container-fluid popup">
            <div class="navbar-header">
                <span class="navbar-brand center">Some changes have not been saved</span>
            </div>
            <div class="navbar-header navbar-right">
                <button type="submit" class="navbar-brand center" id="log-btn"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>
        </div>

    </nav>

</form>

    {% endblock form %}
    </div>

</body>

</html>
