{% extends 'euro/base.html' %}
{% load static %} 
{% load extra_euro %}

{% block content %}
<div class="panel-group" style="overflow-x:auto;">
<div class="panel panel-default">
  <div class="panel-body">
      <table id = "classement" style="width:100%">
        <thead style="border-bottom: 2px solid #ddd">
            <th style="vertical-align: center;padding-top: 2px;padding-left: 15px;padding-right: 15px;">Membre</th>
            <th style="vertical-align: center;padding-left: 15px;padding-right: 15px;">Score <img src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" /></th>
        </thead>
        {% for user in users %}
        <tr style="border-bottom: 1px solid #ddd;">
            {% if user = self %}
            <td style='padding: 15px;'><strong><span style="padding-left: 45px;padding-right: 15px;">
                <a href="{% url 'euro:member_id' user.id %}">{{user.user.username}}</a>
                </span></strong></td>
            <td><span style="padding-left: 45px;padding-right: 15px;"> {{user.score}}</span></td>
            {% else %}
            <td style = 'padding: 15px;'><span style="padding-left: 50px;padding-right: 15px;">
                <a href="{% url 'euro:member_id' user.id %}">{{user.user.username}}</a>
                </span></td>
            <td><span style="padding-left: 45px;padding-right: 15px;"> {{user.score}}</span></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

  </div>
{% endblock content %}