{% extends 'euro/base.html' %} {% load static %} {% load extra_euro %} {% block form %}

<div>
    <div class="jumbotron">
        <h1>FAQ</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Quel est l'objectif de pronostic-euro2016 ?</h4>
        </div>

        <div class="panel-body">
            Notre objectif est de créer un espace pour les passionnés de football comme pour les néophytes dans le cadre de l'euro 2016 qui se déroule en France. C'est parce que l'euro se déroule en France que c'est une cause nationale que nous devons tous embrasser afin de vibrer au rythme de l'événement.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Comment faire pour enregistrer mes pronostics ? </h4>
        </div>

        <div class="panel-body">
            Vous devez vous connecter pour pouvoir enregistrer vos pronostics.
            <br> Si vous n'avez pas encore de compte, vous pouvez en créer {% if username == None %}
            <a href="#" data-toggle="modal" data-target="#myModalRegister">ici.</a> {% else %} ici. {% endif %}
            <br>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Comment calcule t-on mon score ?</h4>
        </div>

        <div class="panel-body">
            Comme nous considérons que tous les pronostics sont bons, le calcul des scores est fait de manière à vous faire gagner des points aux maximum.
            <ul>
                <li>Le bon score + le bon vainqueur (match null inclu): 3 points</li>
                <li>Le bon score pour une des équipe : 1 point</li>
                <li>Le bon vainqueur mais pas le bon score : 1 point</li>
                <li>Aucun des cas ci-dessus : On itère sur le prochain match</li>
                <br>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Peut-on faire des pronostics en équipe ?</h4>
        </div>

        <div class="panel-body">
            Oui. Pour ce faire, connectez-vous à votre compte. Dans l'onglet Accueil, cliquez sur join a team.
            <br> A ce stade, vous avez la possibilité de rejoindre une équipe existante ou d'en créer une autre.
            <br> Vous allez continuer à faire vos pronostics en individuel et vous aurez votre score individuel ainsi que le classement correspondant.
            <br> Cependant, vous avez aussi un score aggrégé de votre équipe avec un classement par équipe dans l'onglet team.
            <br>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Comment calcule t-on le score d'une équipe ? </h4>
        </div>

        <div class="panel-body">
            Le score d'une équipes est calculée en moyennant sur la somme des scores des membres.
        </div>
    </div>


    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Qu'est ce que je gagne à faire des pronostics ? </h4>
        </div>

        <div class="panel-body">
            Il n y a pas d'argent en jeux, pas de cadeaux non plus, juste une promesse de fun entre collègues, amis, en famille.
        </div>
    </div>


    <br>
</div>
{% endblock form %}
