{% extends 'euro/base.html' %} 
{% load extra_euro %}
{% load static %}
{% block content %} 


<h1>Total Points <span class="label label-warning">{{user.pts}} </span></h1>
<br/>
{% if latest_rencontre_list %} 
<h2>Prochains matchs:</h2>
<div class="col-sm-12">
        {% for date in latest_rencontre_date %}
        <div class="marged">
        <div class="panel panel-default" id="section{{forloop.counter}}">
            <div class="panel-heading">
                <span class="date-match">{{date |  date:'l d F Y'}}</span>
            </div>

            <div class="panel-body">

                {% for rencontre in latest_rencontre_list %} 
                {% if rencontre.date == date %}

                <div class="well">
                        <script type="text/javascript">
                            formSave.fields['score_{{rencontre.id}}_1']= "score_{{rencontre.id}}_1"
                            formSave.fields['score_{{rencontre.id}}_2']= "score_{{rencontre.id}}_2"
                        </script>
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays1.icone}}.png" alt="{{rencontre.pays1}}" />
                    
                    
                    <span class='pays'>{{rencontre.pays1}}</span>
                    
                    {% if username %}
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_1" min="0" value="{{pronostics|score1:rencontre}}"/>
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_2" min="0" value="{{pronostics|score2:rencontre}}"/>
                    {% endif %}

                    <span class='pays'>{{rencontre.pays2}}</span>
                    
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays2.icone}}.png" alt="{{rencontre.pays2}}" /> &nbsp;
                    
                </div>
                {% endif %} 
                {% endfor %}
            </div>

        </div>
        </div>
    

{% endfor %}
</div>
{% else %}
<p>Pas de prochains matchs.</p>
{% endif %} 


{% if latest_pronostics %} 
<h2>Derniers matchs:</h2>
<div class="col-sm-12">
    
    {% for resultat in resultats %} 
    <div class="panel panel-default" id="section{{forloop.counter}}">
            <div class="panel-heading">
                <span class="date-match">{{resultat.match.date |  date:'l d F Y'}}</span>
            </div>

            <div class="panel-body">

                

                <div class="well">
                        
                    <img src="{% static 'euro/flags/' %}{{resultat.match.pays1.icone}}.png" alt="{{resultat.match.pays1}}" />
                    
                    {% if resultat.winner == 1 %}
                    <img src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />
                    {% endif %}
                    <span class='pays'>{{resultat.match.pays1}}</span>
                    
                    {% if username %}
                    {% if pronostics|winner:resultat.match == 1 %}<img class="gray" src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />{% endif %}
                    <input class="score entry" type="number"  min="0" value="{{pronostics|score1:resultat.match}}" disabled/>
                    <strong style="padding: 10px;"><big>{{resultats|score1:resultat.match}} - {{resultats|score2:resultat.match}}</big></strong>
                    <input class="score entry" type="number"  min="0" value="{{pronostics|score2:resultat.match}}" disabled/>
                    {% if pronostics|winner:resultat.match == 2 %}<img class="gray" src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />{% endif %}
                    {% endif %}
                    
                    <span class='pays'>{{resultat.match.pays2}}</span>
                    {% if resultat.winner == 2 %}
                    <img src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />
                    {% endif %}
                    
                    <img src="{% static 'euro/flags/' %}{{resultat.match.pays2.icone}}.png" alt="{{resultat.match.pays2}}" /> &nbsp;
                    
                    {% for i in resultat.points|get_range %}
                    <img src="{% static 'euro/images/star.png' %}" alt="Euro 2016" height="32" />
                    {% endfor %}
                    
                </div>
    
            </div>

    </div>
    {% endfor %}
</div>
{% else %}
<p>Pas de précédents résultats.</p>
{% endif %} 



{% endblock content %}