{% extends 'euro/base.html' %} 
{% load extra_euro %}
{% load static %}
{% block content %} 


<h1>Total Points <span class="label label-warning">{{user.pts}}</span></h1>
<br/>
{% if latest_rencontre_list %} 
<h2>Prochains matchs:</h2>
<div class="col-sm-9">
        {% for date in latest_rencontre_date %}
        <div class="marged">
        <div class="panel panel-default" id="section{{forloop.counter}}">
            <div class="panel-heading">
                <span class="date-match">{{date |  date:'l d F Y'}}</span>
            </div>

            <div class="panel-body">

                {% for rencontre in latest_rencontre_list %} 
                {% if rencontre.date == date %}

                <div class="well">
                        <script type="text/javascript">
                            formSave.fields['score_{{rencontre.id}}_1']= "score_{{rencontre.id}}_1"
                            formSave.fields['score_{{rencontre.id}}_2']= "score_{{rencontre.id}}_2"
                        </script>
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays1.icone}}.png" alt="{{rencontre.pays1}}" />
                    
                    
                    <span class='pays'>{{rencontre.pays1}}</span>
                    
                    {% if username %}
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_1" min="0" value="{{pronostics|score1:rencontre}}"/>
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_2" min="0" value="{{pronostics|score2:rencontre}}"/>
                    {% endif %}

                    <span class='pays'>{{rencontre.pays2}}</span>
                    
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays2.icone}}.png" alt="{{rencontre.pays2}}" /> &nbsp;
                    
                </div>
                {% endif %} 
                {% endfor %}
            </div>

        </div>
        </div>
    

    {% endfor %}
        </div>
{% else %}
<p>No polls are available.</p>
{% endif %} {% endblock content %}