{% extends 'euro/base.html' %} 
{% load extra_euro %}
{% load static %}
{% block content %} 

<div class="main">


  <div class="jumbotron">
      <h1>
          <a href="#" title="change avatar" data-target="#upload_avatar" data-toggle="modal">
          {% if user.avatar %}      
          <img src="{{user.avatar}}" alt = "avatar"/>
          {% else %}
          <img src='{% static "euro/images/256.jpg" %}' alt="no avatar"/>
          {% endif %}
          </a>      
          {{user.user.username|capfirst}} </h1>      
      
      {% if user.team %}<h2><i><a href="{% url 'euro:team' user.team.id %}">{{user.team.name|capfirst}}</a></i></h2>
          {% if self == user %} <span><a href="#" title="Leave team" data-target="#team_leave" data-toggle="modal"><i class="fa fa-chain-broken" aria-hidden="true"></i></a></span>{% endif %}
          
          {% else %}{%if self == user %}
          <a href="#" data-toggle="modal" data-target="#team_choose">Join a team</a>
          {% endif %}{% endif %}
      
  </div>

<h2>Total Points <span class="label label-warning">{{user.pts}} </span></h2>


    







<br/>
{% if latest_rencontre_list %} 
<h2>Prochains matchs:</h2>
<div class="col-sm-12">
        {% for date in latest_rencontre_date %}
        <div class="marged">
        <div class="panel panel-default" id="section{{forloop.counter}}">
            <div class="panel-heading">
                <span class="date-match">{{date |  date:'l d F Y'}}</span>
            </div>

            <div class="panel-body">

                {% for rencontre in latest_rencontre_list %} 
                {% if rencontre.date == date %}

                <div class="well">
                    {% if edit %}
                        <script type="text/javascript">
                            formSave.fields['score_{{rencontre.id}}_1']= "score_{{rencontre.id}}_1"
                            formSave.fields['score_{{rencontre.id}}_2']= "score_{{rencontre.id}}_2"
                        </script>
                    {% endif %}
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays1.icone}}.png" alt="{{rencontre.pays1}}"  class="drapeau"/>
                    
                    
                    <span class='pays'>{{rencontre.pays1}}</span>
                    
                    {% if username %}
                    {% if edit %}
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_1" min="0" value="{{pronostics|score1:rencontre}}"/>
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_2" min="0" value="{{pronostics|score2:rencontre}}"/>
                    {% else %}
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_1" min="0" value="{{pronostics|score1:rencontre}}" disabled/>
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_2" min="0" value="{{pronostics|score2:rencontre}}" disabled/>
                    {% endif %}
                    {% else %}
                    <span> - </span>
                    {% endif %}

                    <span class='pays'>{{rencontre.pays2}}</span>
                    
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays2.icone}}.png" alt="{{rencontre.pays2}}"  class="drapeau"/> &nbsp;
                    
                </div>
                {% endif %} 
                {% endfor %}
            </div>

        </div>
        </div>
    

{% endfor %}
</div>
{% else %}
<p>Pas de prochains matchs.</p>
{% endif %} 


{% if latest_pronostics %} 
<h2>Derniers matchs:</h2>
<div class="col-sm-12">
    
    {% for resultat in resultats %} 
    <div class="panel panel-default" id="section{{forloop.counter}}">
            <div class="panel-heading">
                <span class="date-match">{{resultat.match.date |  date:'l d F Y'}}</span>
            </div>

            <div class="panel-body">

                

                <div class="well">
                        
                    <img src="{% static 'euro/flags/' %}{{resultat.match.pays1.icone}}.png" alt="{{resultat.match.pays1}}"  class="drapeau"/>
                    
                    {% if resultat.winner == 1 %}
                    <img src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />
                    {% endif %}
                    <span class='pays'>{{resultat.match.pays1}}</span>
                    
                    
                    {% if pronostics|winner:resultat.match == 1 %}<img class="gray" src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />{% endif %}
                    <input class="score entry" type="number"  min="0" value="{{pronostics|score1:resultat.match}}" disabled/>
                    <strong style="padding: 10px;"><big>{{resultats|score1:resultat.match}} - {{resultats|score2:resultat.match}}</big></strong>
                    <input class="score entry" type="number"  min="0" value="{{pronostics|score2:resultat.match}}" disabled/>
                    {% if pronostics|winner:resultat.match == 2 %}<img class="gray" src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />{% endif %}
                    
                    
                    <span class='pays'>{{resultat.match.pays2}}</span>
                    {% if resultat.winner == 2 %}
                    <img src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />
                    {% endif %}
                    
                    <img src="{% static 'euro/flags/' %}{{resultat.match.pays2.icone}}.png" alt="{{resultat.match.pays2}}"  class="drapeau"/> &nbsp;
                    
                    {% for i in resultat.points|get_range %}
                    <img src="{% static 'euro/images/star.png' %}" alt="Euro 2016" height="32" />
                    {% endfor %}
                    
                </div>
    
            </div>

    </div>
    {% endfor %}
</div>
{% else %}
<p>Pas de précédents résultats.</p>
{% endif %} 


</div>
{% endblock content %}