{% load staticfiles %}
<html>

<head>
    <title>Euro 2016</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'euro/style.css' %}" />
    <script src="{% static 'euro/loginform.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        // Definition of global variables for javascript context
        var contact_url = "{% url 'euro:check_login' %}";
    </script>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{% static 'euro/images/logo.jpg' %}" alt="Euro 2016" height="32" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                <li><a href="#">Welcome, {{username}}</a></li>
                <li>
                    <a href="{% url 'euro:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
                {% else %}
                <li><a href="#" data-toggle="modal" data-target="#myModalRegister"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModalLogin"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="myModalLogin" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form id="login">
                        {% csrf_token %}
                        <div class="login-form">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Username " id="username" name="username" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" />
                                <i class="fa fa-lock"></i>
                            </div>

                            <!--a class="link" href="#">Lost your password?</a-->
                            <button type="submit" class="log-btn" id="log-btn">Log in</button>


                        </div>
                    </form>
                </div>
                <!--div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div-->
            </div>

        </div>
    </div>

    <div id="myModalRegister" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form id="register" action="{% url 'euro:register' %}" method="post" onsubmit="return validateRegister()">
                        {% csrf_token %}
                        <div class="login-form">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Username " id="username" name="username" required />
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Email " id="email" name="email" required />
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" required />
                                <i class="fa fa-lock"></i>
                            </div>
                            <label>Repeat:</label>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password2" name="password2" required />
                                <i class="fa fa-lock"></i>
                            </div>
                            <!--a class="link" href="#">Lost your password?</a-->
                            <button type="submit" class="log-btn" id="register-btn">Register</button>


                        </div>
                    </form>
                </div>
                <!--div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div-->
            </div>

        </div>
    </div>


    {% if latest_rencontre_list %}
    <div class="main">
        {% for rencontre in latest_rencontre_list %}
        <div class="well well">
            <img src="{% static 'euro/flags/' %}{{rencontre.pays1.icone}}.png" alt="{{rencontre.pays1}}" /> 
            <span class='pays'>{{rencontre.pays1}}</span>
            <input class="score entry" type="number" /> 
            <span class = "date-match">{{rencontre.date}}</span>
            <input class="score entry" type="number" /> 
            <span class='pays'>{{rencontre.pays2}}</span>
            <img src="{% static 'euro/flags/' %}{{rencontre.pays2.icone}}.png" alt="{{rencontre.pays2}}" /> &nbsp; 
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}


    <nav class="navbar navbar-fixed-bottom popup">
        <div class="container-fluid popup">
            <div class="navbar-header">
                <span class="navbar-brand center">Some changes have not been saved</span>
            </div>
            <div class="navbar-header navbar-right">
                <a class="navbar-brand center" href="#"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
            </div>
        </div>
        
    </nav>

</body>

</html>