{% extends 'euro/base.html' %} 
{% load static %}
{% load extra_euro %}
{% block content %} 
{% if latest_rencontre_list %} 

<div class="panel-group" id="accordionTag">
{% for ctag in latest_rencontre_list %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse{{forloop.counter}}" data-parent="#accordionTag"><span class="date-match">{{ctag.name}}</span></a>
      </h4>
        </div>
        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}">
            <div class="panel-body">
                {% for rencontre in ctag.matchs %}
                        <script type="text/javascript">
                            formSave.fields['score_{{rencontre.id}}_1']= "score{{rencontre.id}}_1"
                            formSave.fields['score_{{rencontre.id}}_2']= "score{{rencontre.id}}_2"
                        </script>
                <div class="well well">
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays1.icone}}.png" alt="{{rencontre.pays1}}" />
                    <span class='pays'>{{rencontre.pays1}}</span>
                    
                    
                    
                    
                    {% if username %}
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_1" min="0" value="{{pronostics|score1:rencontre}}" {% if rencontre.passed %}disabled{% endif %}/>
                    {% endif %}
                    
                    <span class="date-match">{{rencontre.date}}</span>
                    
                    {% if username %}
                    <input class="score entry" type="number" id="score_{{rencontre.id}}_2" min="0" value="{{pronostics|score2:rencontre}}" {% if rencontre.passed %}disabled{% endif %}/>
                    {% endif %}
                    
                    {% if rencontre.passed %}
                        {{rencontre.resultat}}
                    {% endif %}
                    
                    
                    
                    
                    <span class='pays' style='text-align:right;'>{{rencontre.pays2}}</span>
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays2.icone}}.png" alt="{{rencontre.pays2}}" /> &nbsp;
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% else %}
<p>No polls are available.</p>
{% endif %} {% endblock content %}