{% extends 'euro/base.html' %}
{% load staticfiles %}
{% load nav_active %}
{% load static %}
{% load extra_euro %}
    <script type="text/javascript">
        // Definition of global variables for javascript context
        var contact_url = "{% url 'euro:check_login' %}";
        var afterlogin = "{% url 'euro:home' %}";
        var save_url = "{% url 'euro:save' %}";
    </script>

<style type="text/css">

	</style>


{% block form %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'euro/images/stadium1.jpg' %}" alt="..." height="80%">
      <div class="carousel-caption">
        <h1>
        Tu penses que la France va gagner, alors exprime le !</h1>

        <h2>Donnez VOS pronostics pour chaque match</h2>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'euro/images/stadium2.jpg' %}" alt="..." height="80%">
      <div class="carousel-caption">
        <h1>
        Inscrivez-vous dès maintenant, commencez à faire vos pronostics et devenez le meilleur !
        </h1>
        <h2>
        Faites votre chemin dans le classement des membres
        </h2>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'euro/images/stadium1.jpg' %}" alt="..." height="80%">
      <div class="carousel-caption">
        <h1>
        Vivez l'ambiance de l'Euro avec vos collègues, vos amis, chez vous, au travail...
        </h1>
        <h2>
        Rejoignez une équipe avec vos amis
        </h2>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'euro/images/stadium1.jpg' %}" alt="..." height="80%">
      <div class="carousel-caption" >
          <h1>Pour les passionnés de foot comme pour les néophytes !</h1>
          <a href="#" data-toggle="modal" data-target="#myModalRegister"><h2>Inscrivez vous pour commencer !</h2></a>

      </div>

    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="content-block-one">
{% if latest_rencontre_list %}

<div>

    <div class="col-sm-11">
        {% for date in latest_rencontre_date %}
        <div class="marged">
        <div class="panel panel-default" id="section{{forloop.counter}}">
            <div class="panel-heading">
                <span class="date-match">{{date |  date:'l d F Y'}}</span>
            </div>

            <div class="panel-body">

                {% for rencontre in latest_rencontre_list %}
                {% if rencontre.date == date %}
                        <script type="text/javascript">
                            formSave.fields['score_{{rencontre.id}}_1']= "score_{{rencontre.id}}_1"
                            formSave.fields['score_{{rencontre.id}}_2']= "score_{{rencontre.id}}_2"
                            formSave.fields['score_{{rencontre.id}}_radio']= "score_{{rencontre.id}}_radio"

                        </script>
                <div class="well">
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays1.icone}}.png" alt="{{rencontre.pays1}}"  class="drapeau"/>
                    <span class='pays'>{{rencontre.pays1}}</span>

                    {% if username %}
                    {% if rencontre.allowNull == False %}
                    <label>
                            <input class="entry" id = 'score_{{rencontre.id}}_radio_1' type="radio" name="score_{{rencontre.id}}_radio" value="1" {% if pronostics|winner:rencontre == 1 %}checked='checked'{% endif %}/>
                            <img src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />
                    </label>
                    {% endif %}

                    <input class="score entry" type="number" id="score_{{rencontre.id}}_1" min="0" value="{{pronostics|score1:rencontre}}"/>

                    <input class="score entry" type="number" id="score_{{rencontre.id}}_2" min="0" value="{{pronostics|score2:rencontre}}"/>

                    {% if rencontre.allowNull == False %}
                    <label>
                            <input class="entry" id = 'score_{{rencontre.id}}_radio_2' type="radio" name="score_{{rencontre.id}}_radio" value="2" {% if pronostics|winner:rencontre == 2 %}checked='checked'{% endif %}/>
                            <img src="{% static 'euro/images/victoire.png' %}" alt="Euro 2016" height="32" />
                    </label>
                    {% endif %}

                    <script type="text/javascript">
                        var winf = function () {
                                if ($('#score_{{rencontre.id}}_1').val() > $('#score_{{rencontre.id}}_2').val()) {
                                    $('#score_{{rencontre.id}}_radio_1').prop("checked", true)
                                    $('#score_{{rencontre.id}}_radio_2').prop('disabled',true)
                                    $('#score_{{rencontre.id}}_radio_1').prop('disabled',true)
                                }
                                else if ($('#score_{{rencontre.id}}_1').val() < $('#score_{{rencontre.id}}_2').val()) {
                                    $('#score_{{rencontre.id}}_radio_2').prop("checked", true)
                                    $('#score_{{rencontre.id}}_radio_2').prop('disabled',true)
                                    $('#score_{{rencontre.id}}_radio_1').prop('disabled',true)
                                }
                                else {
                                    $('#score_{{rencontre.id}}_radio_2').prop('disabled',false)
                                    $('#score_{{rencontre.id}}_radio_1').prop('disabled',false)
                                }

                        }
                        $('#score_{{rencontre.id}}_1').on('change', winf);
                        $('#score_{{rencontre.id}}_2').on('change', winf);
                    </script>

                    {% else %}
                    <span> - </span>
                    {% endif %}

                    <span class='pays'>{{rencontre.pays2}}</span>
                    <img src="{% static 'euro/flags/' %}{{rencontre.pays2.icone}}.png" alt="{{rencontre.pays2}}"  class="drapeau"/> &nbsp;
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
        </div>


    {% endfor %}
        </div>

</div>


{% else %}
<p>No polls are available.</p>
{% endif %}

</div>

{% endblock %}