{% extends 'euro/base.html' %} 
{% load static %} 
{% load extra_euro %}
{% block content %} 
{% if latest_rencontre_list %}

<div>


    <nav class="col-sm-1 desc" >
        <ul class="nav nav-pills nav-stacked">

            {% for date in latest_rencontre_date %}
            <li><a href="#{{date |  date:'d_F_Y'}}">{{date |  date:'d F Y'}}</a></li>
            {% endfor %}
        </ul>
    </nav>

    {% include 'euro/bydate.html' %}
</div>


{% else %}
<p>No polls are available.</p>
{% endif %} {% endblock content %}
