{% extends 'euro/base.html' %}
{% load static %}
{% block content %}
{% if latest_rencontre_list %}
{% for rencontre in latest_rencontre_list %}
<div class="panel panel-default">   
  <div class="panel-heading"><span class="date-match">{{rencontre.date |  date:'d F Y'}}</span></div>
    
  <div class="panel-body">
    <img src="{% static 'euro/flags/' %}{{rencontre.pays1.icone}}.png" alt="{{rencontre.pays1}}" />
    <span class='pays'>{{rencontre.pays1}}</span>
    <input class="score entry" type="number" />
    
    <input class="score entry" type="number" />
    <span class='pays'>{{rencontre.pays2}}</span>
    <img src="{% static 'euro/flags/' %}{{rencontre.pays2.icone}}.png" alt="{{rencontre.pays2}}" /> &nbsp;
    </div>
</div>
{% endfor %} {% else %}
<p>No polls are available.</p>
{% endif %} {% endblock content %}