{% extends 'euro/base.html' %} {% load static %} {% load extra_euro %}

{% block form %}

    <h1>
Reset Password
    </h1>


<div id="renewPswdDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{user.username}}</h4>
                </div>
                <div class="modal-body">
                    <form id="renewPswdDialogForm">
                        {% csrf_token %}
                        <div class="login-form">
                            <label>New password:</label>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" required aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            <label>Repeat:</label>
                            <div class="form-group log-status">
                                <input type="password" class="form-control" placeholder="Password" id="password2" name="password2" required aria-hidden="true"/>
                                <i class="fa fa-lock"></i>
                            </div>
                            
                            <button type="submit" class="reset-btn" id="resetpassword-btn">
                            <i class="fa fa-share" aria-hidden="true"></i>
                            &nbsp; Reset Password </button>


                        </div>
                    </form>
                </div>
                
                <script>
                   
                    $("#renewPswdDialog").modal('show')                
                    

                    
                    $( "#renewPswdDialog" ).submit(function( e ) {
                        console.log("reset password")
                        var x = document.forms["renewPswdDialogForm"]["password"].value;
                        var x2 = document.forms["renewPswdDialogForm"]["password2"].value;
                        e.preventDefault(); 
                        if (x == null || x == "" || x != x2) {
                            $('.log-status').addClass('wrong-entry');
                            $('.log-btn').addClass('wrong-entry');
                            
                            setTimeout("$('.alert').fadeOut(1500);", 3000);
                            return false;
                        }
                        
                        

                        var values = {};
                        values['csrfmiddlewaretoken']=$('input[name=csrfmiddlewaretoken]').val()
                        values['token'] = "{{token}}"
                        values['password'] = x
                    
                        $.post("{% url 'euro:changeResestPassword' %}", values, 
                               function (data, textStatus, jqXHR) {
                                    window.location.href = './index';
                                }
                           , 'json').error(formSave.error); // making ajax post
                    return false;
                    });

                </script>
                
            </div>

        </div>
    </div>
    

{% endblock form %}