{% extends 'euro/base.html' %}
{% load staticfiles %}
{% block content %}

{% if not user.team %}
<strong>{{user.username}}</strong>, vous vous n'êtes actuellement dans aucune équipe.<br>
S'inscrire dans une équipe ?<br>


{% else %}

<strong>{{user.username}}</strong>, Vous êtes membre de l'équipe <strong>{{user.team.name}}</strong>
{% endif %}

<h1>Vous pouvez changer d'équipe ci-dessous :</h1>

<form action="action_page.php">

    <select name="teams">
    <ul>
        <option value="NoTeam"><li>Pas d'équipe</option></li>
    {% for team in listOfTeams %}
        <option value={{team.name}}><li>{{team.name}}</option></li>
    {% endfor %}
    </ul>
    </select>
  <input type="submit">
</form>




{% endblock content %}