{% extends 'euro/base.html' %}
{% load staticfiles %}
{% block form %}
<div class="main">
{% if not user.team %}
    <strong>{{user.username}}</strong>, vous vous n'êtes actuellement dans aucune équipe.<br>
    S'inscrire dans une équipe ?<br>

{% else %}

    <strong>{{user.username}}</strong>, Vous êtes membre de l'équipe <strong>{{user.team.name}}</strong>
{% endif %}

<h1>Vous pouvez changer d'équipe ci-dessous :</h1>

<form method="POST" action="euro:manageteam">{% csrf_token %}
    {{userform.as_p}}
    <input type="submit" value="Mettre à Jour">
</form>
</div>
{% endblock form %}